#header{

  display:flex;
}
.logo{

  
  width: 25%;

}
#header-img{
  width:300px;
  height:50px;
}
#nav-bar{
   
  width:100%;
  padding-left:44%;
}
li{
  float:left;
  display:inline;
  padding-right:155px;
  color:black;
  font-size:16px;
  font-family:lato;
}
.container{
  margin:0 auto;
  margin-top:70px;

 
  max-width:760px;
  text-align:center
}
#email_input{
  width:320px;
  height:23px;
}
#submit{
  width:150px;
  height:27px;
  margin-top:10px;
      background-color: #f1c40f;
      font-size: 0.9em;
    font-weight: 900;
    text-transform: uppercase;
  border:none;
}
body{
      background: #eeeeee;
}
.features{
  display:flex;
  flex-direction:column;
  align-items:center;
}
.flex{
  width:50%;
  border:1px solid black;
  height:150px;
  
}
.how_it_work{
  display:flex;
  justify-content:center;
}
#vid{
  width:35%;
  
}
.pricing{
  margin-top:15px;
  display:flex;
   justify-content:center;
column-gap:35px;
}
.flex2{
  text-align:center;
  height:auto;
  width:250px;
  border:1px solid black;
   box-sizing:border-box;
  padding-bottom:15px;
}
h3{
  height:45px;
  background:#DDDDDD;
  margin-top:0px;
}
.btn{
  background:#f1c40f;
  padding :7px 15px;
}
footer{
  background:black;
  height:15px;
  margin: 0 auto;
  max-width: 60%;
}
